*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
/*    background-color:#212121;*/
    /*margin: 0;*/
  /*  overflow: hidden;*/
   /* background: -webkit-radial-gradient( left bottom, circle farthest-corner, #e1fd3e, #174709);
    background: -moz-radial-gradient( left bottom, circle farthest-corner, #e1fd3e, #174709);
    background: -ms-radial-gradient( left bottom, circle farthest-corner, #e1fd3e, #174709);
    background: -o-radial-gradient( left bottom, circle farthest-corner, #e1fd3e, #174709);      */
    background: radial-gradient( farthest-corner circle at left bottom, #1A2990, #26D0CE);
}

header {
    /*background-color:#212121;*/
    /*box-shadow: 0 -1px 2px #111111;*/
    background: transparent;
    /*color:#fff;*/
    display:block;
    height:60px;
    width:80%;
    margin: auto;
}
header h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}
header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.container {
    margin: auto;
}